.property-big-card-box {
	position: relative;
	width: 400px;
	height: 475px;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid #003531;
	border-radius: 15px;
	.card-img {
		position: relative;
		width: 90%;
		height: 200px;
		margin: 10px auto;
		background-size: cover;
		border-radius: 12px;
		div.status {
			position: absolute;
			padding: 6px 34px;
			left: 20px;
			top: 20px;
			display: flex;
			align-items: center;
			border-radius: 6px;
			background: #ffc700;
			img {
				width: 14px;
				height: 14px;
			}
			span {
				margin-left: 5px;
				color: #000000;
				font-family: $font;
				font-size: 12px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
			}
		}
		div.price {
			position: absolute;
			padding: 8px 12px;
			left: 20px;
			bottom: 20px;
			border-radius: 6px;
			background: #fff;
			color: #181a20;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
	.info {
		padding: 20px 22px 17px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		// border-radius: 0px 0px 12px 12px;
		// border: 1px solid #ddd;
		// border-top: none;
		// background: #fff;
		.title {
			overflow: hidden;
			color: #003531;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-family: $font;
			font-size: 22px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			text-transform: capitalize;
		}
		.desc {
			margin-top: 5px;
			overflow: hidden;
			color: #717171;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
			.locationIcon {
				font-size: 18px;
				margin-right: 5px;
			}
		}
		.options {
			margin-top: 15px;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			div {
				display: flex;
				flex-direction: row;
				img {
					margin-right: 5px;
					width: 20px;
					height: 20px;
				}
				span {
					color: #003531;
					font-family: $font;
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
		.bott {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			.price {
				font-family: $font;
				font-size: 22px;
				font-weight: 600;
				line-height: normal;
				color: #003531;
				span {
					font-family: $font;
					font-size: 15px;
					font-weight: 500;
					line-height: normal;
					color: #717171;
				}
			}
			// button {
			// 	margin-left: 15px;
			// 	width: 16px;
			// 	height: 16px;
			// 	box-sizing: border-box;
			// }
			.buttons-box {
				width: auto;
				height: auto;
				display: flex;
				flex-direction: row;
				gap: 7px;
				.view-cnt {
					color: #717171;
					font-family: $font;
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					text-overflow: ellipsis;
				}
			}
		}
		.agent {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
			}
			p {
				color: #003531;
				font-family: $font;
				font-size: 16px;
				font-weight: 600;
			}
			.rent {
				color: #717171;
				font-family: $font;
				font-size: 14px;
				font-weight: 400;
			}
			.book-btn {
				padding: 10px 25px;
				border-radius: 50px 0 0 0;
				background: #003531;
				color: #fff;
				margin-right: -22px;
				cursor: pointer;
				&:hover {
					background: #fff;
					border: 1px solid #003531;
					color: #003531;
					border-right: none;
				}
			}
		}
	}
}
.agent-general-card {
	position: relative;
	width: 250px;
	height: 340px;
	margin-right: 27px;
	margin-bottom: 34px;
	display: flex;
	flex-direction: column;
	border: 1px solid #003531;
	border-radius: 15px;
	background: #fff;
	.agent-img {
		border-radius: 50%;
		width: 173px;
		height: 173px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 5px auto;
		// div {
		// 	position: absolute;
		// 	padding: 12px;
		// 	top: 12px;
		// 	left: 12px;
		// 	border-radius: 6px;
		// 	background: #eb6753;
		// 	color: #fff;
		// 	font-family: $font;
		// 	font-size: 12px;
		// 	font-style: normal;
		// 	font-weight: 600;
		// 	line-height: normal;
		// }
	}
	.agent-desc {
		margin-top: 10px;
		.agent-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			strong {
				color: #003531;
				font-family: $font;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			span {
				color: #717171;
				font-family: $font;
				font-size: 15px;
				font-style: normal;
				font-weight: 400;
				line-height: 28px;
			}
		}

		.agent-properties {
			padding: 10px;
			background: #ffc700;
			color: #000;
			font-family: $font;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			text-align: center;
		}
		.detail-wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 7px;
			.buttons {
				width: auto;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				svg {
					width: 24px;
					height: 24px;
					cursor: pointer;
				}
				.view-cnt {
					font-size: 13px;
				}
			}
			.detail-btn {
				padding: 5px 12px;
				border: 1px solid #003531;
				border-radius: 15px;
				font-family: $font;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				margin-right: 10px;
				color: #003531;
				&:hover {
					background: #003531;
					color: #fff;
				}
			}
		}
	}
}
.community-general-card-config {
	position: relative;
	height: auto;
	gap: 20px;
	border-radius: 12px;
	cursor: pointer;
	.image-box {
		width: 100%;
		height: 283px;
		.card-img {
			width: 100%;
			height: 100%;
			border-radius: 12px;
		}
	}
	.desc-box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 80px;
		.title {
			color: #717171;
			font-family: $font;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.desc {
			color: #003531;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: 26px;
			text-transform: capitalize;
		}
		.buttons {
			width: auto;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			svg {
				width: 24px;
				height: 24px;
				cursor: pointer;
			}
			.view-cnt {
				font-size: 13px;
			}
		}
	}
	.date-box {
		position: absolute;
		width: 70px;
		height: 69.014px;
		align-items: center;
		justify-content: center;
		top: 235px;
		right: 20px;
		border-radius: 12px;
		background: #003531;
		box-shadow: 0px 6px 15px 0px rgba(64, 79, 104, 0.05);
		.month {
			color: #fff;
			text-align: center;
			font-family: $font;
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
		.day {
			color: #fff;
			font-family: $font;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}
}
