#pc-wrap {
	#community-list-page {
		position: relative;
		.container {
			padding-top: 100px;
			flex-direction: column;
			gap: 64px;
			.main-box {
				flex-direction: column;
				gap: 31px;
				.top-config {
					width: 100%;
					height: fit-content;
					margin-top: 100px;
					margin-bottom: 50px;
					.tab-button {
						width: 216.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						border-radius: 6px;
						border: 1px solid #003531;
						margin-bottom: 10px;
						color: #003531;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;
					}
					.tab-button.active {
						width: 216.612px;
						height: 36px;
						padding: 0;
						justify-content: center;
						align-items: center;
						background-color: #003531;
						color: #ffffff;
						border-radius: 6px;
						margin-bottom: 10px;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: -0.266px;
					}
				}
				.down-config {
					width: 100%;
					height: auto;
					.panel-config {
						width: 100%;
						height: auto;
						.title-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							margin-bottom: 45px;
							.left {
								width: 60%;
								height: auto;
								.title {
									color: #003531;
									font-family: $font;
									font-size: 24px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									letter-spacing: 0.24px;
								}
								.sub-title {
									color: #757575;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 700;
									line-height: normal;
									letter-spacing: 0.325px;
								}
							}
							.right {
								width: 91px;
								height: 32px;
								border-radius: 4px;
								background: #003531;
								color: #fff;
								font-family: $font;
								font-size: 13px;
								font-style: normal;
								font-weight: 500;
								line-height: normal;
								letter-spacing: 0.39px;
							}
						}
						.list-box {
							width: 100%;
							height: auto;
							flex-direction: row;
							flex-wrap: wrap;
							gap: 30px;
						}
					}
				}
			}
			.similar-articles-config {
				width: 100%;
				height: auto;
				gap: 75px;
				padding: 30px 9px 28px 9px;
				border-radius: 10px;
				border: 1px solid #c4c4c4;
				.similar-articles-title {
					padding-left: 56px;
					color: #000;
					font-family: $font;
					font-size: 30px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
				.articles-box-row {
					width: 100%;
					height: auto;
					flex-direction: row;
					gap: 5px;
				}
			}
			.pagination-config {
				width: 100%;
				align-items: center;
				justify-content: center;
				margin-bottom: 50px;
				gap: 20px;
				padding-left: 270px;
				.pagination-box {
					align-items: center;
					justify-content: center;
				}
				.total-result {
					p {
						color: #181a20;
						text-align: center;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
