#pc-wrap {
	#my-page {
		#my-favorites-page {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: 57px;
			.main-title-box {
				width: auto;
				height: auto;
				flex-direction: row;
				justify-content: space-between;
				.right-box {
					width: 315px;
					.main-title {
						color: #005351;
						font-family: $font;
						font-size: 30px;
						font-style: normal;
						font-weight: 600;
						line-height: normal;
						letter-spacing: 0.6px;
						text-transform: capitalize;
					}
					.sub-title {
						color: #005351;
						font-family: $font;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
			.favorites-list-box {
				width: 100%;
				height: auto;
				flex-wrap: wrap;
				flex-direction: column;
				gap: 22px;
				.card-config {
					width: 100%;
					height: 213px;
					margin-bottom: 7px;
					border: 1px solid #003531;
					border-radius: 12px;
					background: #fff;
					box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					.card-left {
						position: relative;
						width: 100%;
						height: 213px;
						a {
							height: 100%;
						}
						.card-img {
							width: 400px;
							height: 180px;
							object-fit: cover;
							border-radius: 12px;
							margin: 18px;
						}
						.top-badge {
							position: absolute;
							top: 25px;
							left: 18px;
							width: 80px;
							height: 25px;
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
							border-radius: 0 6px 6px 0;
							background: #ffc700;
							img {
								width: 16px;
								height: 16px;
							}
							p {
								color: #000;
								text-align: center;
								text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
								font-family: $font;
								font-size: 12px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
							}
						}
					}
					.card-right {
						width: 100%;
						height: 213px;
						padding: 30px 16px 10px 16px;
						.name-address {
							width: 100%;
							height: 48px;
							gap: 5px;
							margin-bottom: 20px;
							.name {
								width: 100%;
								height: 23px;
								overflow: hidden;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								p {
									color: #003531;
									font-family: $font;
									font-size: 22px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
									text-transform: capitalize;
								}
								.buttons {
									flex-direction: row;
									width: auto;
									justify-content: center;
									align-items: center;
									margin-right: 20px;
									svg {
										width: 24px;
										height: 24px;
										cursor: pointer;
									}
									.view-cnt {
										font-size: 13px;
									}
								}
							}
							.address {
								width: 100%;
								overflow: hidden;
								margin-top: 5px;
								p {
									color: #717171;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
						.options {
							flex-direction: row;
							width: 100%;
							height: 20px;
							gap: 20px;
							margin-bottom: 10px;
							.option {
								flex-direction: row;
								gap: 5px;
								align-items: center;
								p {
									color: #181a20;
									font-family: $font;
									font-size: 13px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
						}
						.divider {
							width: 100%;
							height: 1px;
							background: #ddd;
							margin-bottom: 17px;
						}
						.type-buttons {
							flex-direction: row;
							width: 100%;
							justify-content: space-between;
							align-items: center;
							margin-top: 5px;
							.type {
								flex-direction: row;
								align-items: center;
								gap: 7px;
								p {
									color: #181a20;
									font-family: $font;
									font-style: normal;
									line-height: normal;
								}
								.disabled-type {
									color: rgba(143, 143, 143, 0.54);
									font-family: $font;
									font-style: normal;
									line-height: normal;
								}
							}
						}
						.price-wrap {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;
							margin-top: 10px;
							p {
								color: #003531;
								font-family: $font;
								font-size: 18px;
								font-style: normal;
								font-weight: 600;
								line-height: normal;
								span {
									color: #717171;
									font-family: $font;
									font-size: 14px;
									font-style: normal;
									font-weight: 400;
									line-height: normal;
								}
							}
							.book-btn {
								padding: 8px 15px;
								border: 1px solid #003531;
								border-radius: 20px;
								color: #003531;
								margin-right: 20px;
								cursor: pointer;
								&:hover {
									background: #003531;
									color: #fff;
								}
							}
						}
					}
				}
			}
			.pagination-config {
				width: 100%;
				height: auto;
				justify-content: center;
				align-items: center;
				margin-top: 30px;
				.total-result {
					p {
						color: #005351;
						text-align: center;
						font-family: $font;
						font-size: 16px;
						font-style: normal;
						font-weight: 400;
						line-height: 26px;
					}
				}
			}
		}
	}
}
